<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>
    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
    <ul class="list-inline text-center">
      <li>Kitchen</li> —
      <li>Bathroom</li> —
      <li>Common Areas</li> —
      <li>Preferred Kitchen</li> —
      <li>Preferred Bathroom</li> —
      <li>Preferred Common Areas</li>
    </ul>
    <h1>Cleanliness</h1>
    <%= render "form", user: @user, method: @method, action: @action %>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', desired_match_trait: @desired_match_trait %>
  </div>
</div>
