<div class="container content-body">
  <div class="col-sm-8 ">
    <div id="cleanlinessShow">
    <h1>Cleanliness</h1>
    <ul class="list-inline navigate-category-questions">
      <strong>You:</strong>
      <li id="go-to-kitchen-cleanliness">Kitchen</li> —
      <li id="go-to-bathroom-cleanliness">Bathroom</li> —
      <li id="go-to-common-space-cleanliness">Common Areas</li> <br>
      <strong>Your Ideal Roommate:</strong>
      <li id="go-to-roommate-kitchen-cleanliness">Kitchen</li> —
      <li id="go-to-roommate-bathroom-cleanliness">Bathroom</li> —
      <li id="go-to-roommate-common-space-cleanliness">Common Areas</li> <br>
      <strong>Review Your Cleanliness:</strong>
      <li id ="go-to-submit-cleanliness-questions">Information</li>
    </ul>
    <%= render "form", user: @user, method: @method, action: @action %>
    </div>
  </div>
</div>
