<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>


    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
 
    <div class="row">
      <br><br>
      <h4>If you are happy with the information you have provided, continue to see roommates we think could be a good match for you </h4>
      <%= link_to "Show me my matches", user_matches_path(@user), class: "btn btn-lg btn-success", role: "button" %>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', desired_match_trait: @desired_match_trait %>
  </div>

  <!-- <div class="row">
    <div class="col-sm-12" padding = 100px></div>
  </div> -->
</div>
