<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>
    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
    <div class="row">
      <h1>Schedule</h1>
      <%= render "form", user: @user, method: @method, action: @action %>
  </div>
</div>
