<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>
    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
    <h1>Schedule</h1>
    <ul class="list-inline">
      <strong>You:</strong>
      <li>Work</li> —
      <li>Sleep</li> —
      <li>Bathroom</li> —
      <li>Kitchen</li> <br>
      <strong>Your Ideal Roommate:</strong>
      <li>Work</li> —
      <li>Sleep</li> —
      <li>Bathroom</li> —
      <li>Kitchen</li>
    </ul>
    <%= render "form", user: @user, method: @method, action: @action %>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', desired_match_trait: @desired_match_trait %>
  </div>
</div>
