<div class='container'>
<!-- form to show flash.now messages -->
  <div class='alert alert-success alert-dismissable' role='alert'>
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
    You've sent a message to <%= match.display_name %> You can see this match now at the top of your matches page.
  </div>
</div>
