<h2>Your Matches</h2>
<ul>
<% @matches.each do |match|%>
  <li> <%= image_tag(match.photo.url(:thumbnail)) %> <text>You are a <%= @user.compatibility_with(match) %>% match with <%= link_to match.username, user_match_path(@user, match) %></text></li>
<% end %>
</ul>