<h2>Your Matches</h2>
<ul>
<% @matches.each do |match|%>
  <li>You are a <%= @user.compatibility_with(match) %>% match with <%= link_to match.username, user_match_path(@user, match) %></li>
<% end %>
</ul>