<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>
    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
    <ul class="list-inline text-center">
      <strong>You:</strong>
      <li>Apartment Status</li> —
      <li>Max Rent</li> —
      <li>Dealbreakers</li> —
      <li>City and Move-In Date</li> <br>
      <strong>Your Ideal Roommate:</strong>
      <li>Gender</li> —
      <li>Age</li>
    </ul>
    <h1>Basic Information</h1>
    <%= render "form", user: @user, method: @method, action: @action %>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', desired_match_trait: @desired_match_trait %>
  </div>
</div>
