<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>
    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
    <h1>Basic Information</h1>
    <ul class="list-inline">
      <strong>You:</strong>
      <li id="go-to-has-apartment">Apartment Status</li> —
      <li id="go-to-max-rent">Max Rent</li> —
      <li id="go-to-dealbreakers">Dealbreakers</li> —
      <li id="go-to-city-and-move-in">City and Move-In Date</li> <br>
      <strong>Your Ideal Roommate:</strong>
      <li id="go-to-preferred-age">Age</li> —
      <li id="go-to-preferred-gender">Gender</li>
    </ul>
    <%= render "form", user: @user, method: @method, action: @action %>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', desired_match_trait: @desired_match_trait %>
  </div>
</div>
