<div class="container content-body">
  <div class="col-sm-8 ">
      <div id="basicInfoShow">
      <h2>Basic Information</h2>
      <ul class="list-inline navigate-category-questions">
      <strong>You:</strong>
      <li id="go-to-has-apartment">Apartment Status</li> —
      <li id="go-to-max-rent">Max Rent</li> —
      <li id="go-to-dealbreakers">Dealbreakers</li> —
      <li id="go-to-city-and-move-in">City and Move-In Date</li> <br>
      <strong>Your Ideal Roommate:</strong>
      <li id="go-to-preferred-age">Age</li> —
      <li id="go-to-preferred-gender">Gender</li>
      </ul>
      <%= render "form", user: @user, method: @method, action: @action %>
      </div>
  </div>
</div>
