/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets"
@import "bootstrap"

html, body
  height: 100%

body
  margin-bottom: 100px
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif

.body
  margin-top: 20px

/* Header */

.header
  color: white
  text-shadow: 1px -2px 2px rgba(150, 150, 150, 1)
  display: table
  position: relative
  width: 100%
  height: 70%
  background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), image-url("skyline-buildings-new-york-skyscrapers.jpg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

/* About */

.about
  padding: 50px 0

/* Services */

.services
  padding: 50px 0

.service-item
  margin-bottom: 30px

/* Navigation (main, question categories, and questions for each form) */

.navbar
  background-color: #fff8f6
  margin-bottom: 0 !important

.nav-tabs
  margin: 20px 10px

.nav-tabs li
  border-color: #e5e5e5 #eee #eee
  border-style: solid
  border-width: 1px 1px 0 1px
  margin: 0 2px

.navigate-category-questions li:hover
  cursor: pointer

.current-question-nav
  color: rgb(51,122,183)

.question-div
  background-color: rgb(194,209,216)
  border-radius: 15px
  padding: 40px

.question-div label
  font-size: 20px
  font-weight: normal

.checkbox-option
  font-size: 14px !important

.question-div button
  margin-top: 15px

.sidebar
  background-color: rgb(194,209,216)
  border-radius: 10px
  margin: 0 0 10px 10px
  padding: 10px 20px

#mutual-matches
  width: 2000px

#mutual-matches-outer
  overflow-x: scroll
  width: 100%
  height: 300px

#show-matches img
  margin-top: 20px
  height: 200px
  width: 200px

#show-matches p
  line-height: 1em

.small-icon
  position: absolute
  max-height: 40px
  max-width: 40px
  margin-left: 60px
  margin-top: -24px !important

.potential-roommates-pic
  border-radius: 20px
  height: auto
  width: 60px

.category-compatibility
  min-height: 327px

a:hover
  text-decoration: none

.btn-info
  background-color: #a5cad1

.icon
  height: 38px
  width: 38px
  margin-top: 8px

.white-icon
  filter: invert (100%)
  -webkit-filter: invert(100%)

.centerBlock
  display: table
  margin: 0 auto

#schedule-tab
  background-color: rgb(249,138,95)

#additional-details-tab
  background-color: rgb(146,220,224)

#habit-tab
  background-color: rgb(119,91,163)

#cleanliness-tab
  background-color: rgb(145,197,169)

#overall-match-compatibility
  margin-top: 4em


.overall-compatibilty
  padding-top: 200px

#cleanliness
  background-color: rgba(145,197,169,0.6)
  padding: 10px 20px

#schedule
  background-color: rgba(249,138,95,0.6)
  padding: 10px 20px

#habits
  background-color: rgba(119,91,163,0.6)
  padding: 10px 20px


.whiteText
  color: white

.img-center
  margin: 0 auto

.text-vertical-center
  display: table-cell
  text-align: center
  vertical-align: middle

.text-vertical-center h1
  margin: 0
  padding: 0
  font-size: 4.5em
  font-weight: 700

.no-matches
  background-color: rgb(194,209,216)
  border-radius: 10px
  margin: 0 0 10px 10px
  padding: 10px 20px 25px 20px

.review
  display: inline-block
  padding: 5px 5px



/* Custom Horizontal Rule */

hr.small
  max-width: 100px
