<div class="container">
  <div class="col-sm-8 col-sm-offset-1">
    <%= render 'layouts/user_header_section', user: @user %>
    <div class="row">
      <%= render 'layouts/questions_navbar', user: @user %>
    </div>
    <h1>Habits</h1>
    <ul class="list-inline navigate-category-questions">
      <strong>You:</strong>
      <li id="go-to-partying-habit">Partying</li> —
      <li id="go-to-drinking-habit">Drinking</li> —
      <li id="go-to-four-twenty-habit">420</li> —
      <li id="go-to-overnight-visitors-habit">Overnight Visitors</li> —
      <li id="go-to-music-habit">Music</li> <br>
      <strong>Your Ideal Roommate:</strong>
      <li id="go-to-roommate-partying-habit">Partying</li> —
      <li id="go-to-roommate-drinking-habit">Drinking</li> —
      <li id="go-to-roommate-four-twenty-habit">420</li> —
      <li id="go-to-roommate-overnight-visitors-habit">Overnight Visitors</li> —
      <li id="go-to-roommate-music-habit">Music</li>
    </ul>
    <%= render "form", user: @user, method: @method, action: @action %>
  </div>
  <div class="col-sm-3">
    <%= render 'layouts/sidebar', desired_match_trait: @desired_match_trait %>
  </div>
</div>
